In [8]:
import joblib

In [9]:
model = joblib.load("XGB")

In [15]:
model.predict([[66952.68885,18.58433593,8770.099235]])

C:\Users\jacks\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [16]:
model.predict([[66953,19,8770]])

C:\Users\jacks\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [17]:
import pandas as pd
from scipy import stats

In [21]:
df = pd.read_csv("./Credit Card Default II (Balance).csv")
df = df[df['age'] > 0]

X = df.drop("default", axis=1)
Y = df.default

# Normalisation
X_scaled = X.copy()

for i in X.columns:
    X_scaled[i]=stats.zscore(X[i].astype(float))

X_scaled

        income       age      loan
0     1.457403  1.909165  0.792201
1    -0.743092  1.047710  0.306524
2     0.844638  2.232494  0.765243
3    -0.168066  0.860782  0.161272
4     1.512641 -1.286373  1.001231
...        ...       ...       ...
3423  1.093247 -1.021644  1.504295
3424  1.185622 -0.776711  0.785072
3425 -1.354369 -0.672598 -0.561212
3426  0.210089 -0.926167  0.295469
3427 -0.837331 -0.677398 -0.075549

[3425 rows x 3 columns]

In [28]:
model.predict([[1.512641,1.286373,3]])

C:\Users\jacks\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [20]:

income = 6993
age = 19
loan = 8770
print("income, age, loan:", income, age, loan)
df.append({'income': income, 'age': age, 'loan': loan}, ignore_index = True)

# Normalisation
for col in columns:
    df[col] = stats.zscore(df[col])

inputs = list(df.loc[len(df), ["income", "age", "loan"]])
income = inputs[0]
age = inputs[1]
loan = inputs[2]


model = joblib.load("XGB")
model.predict([[income,age,loan]])

        income       age      loan
0     1.457403  1.909165  0.792201
1    -0.743092  1.047710  0.306524
2     0.844638  2.232494  0.765243
3    -0.168066  0.860782  0.161272
4     1.512641 -1.286373  1.001231
...        ...       ...       ...
3423  1.093247 -1.021644  1.504295
3424  1.185622 -0.776711  0.785072
3425 -1.354369 -0.672598 -0.561212
3426  0.210089 -0.926167  0.295469
3427 -0.837331 -0.677398 -0.075549

[3425 rows x 3 columns]